@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#btn {
  transition: all 0.3s ease-in-out;

  background: linear-gradient(to top, #00806e 50%, #f7f7f7 50%);
  background-size: 100% 200%;
  background-position: top;
  overflow: hidden;
}

#btn:hover {
  color: #f1f1f1;

  background-position: bottom;
}

.rest {
  line-height: 1.2;
}

@media (max-width: 1080px) {
  .rest {
    line-height: 1.25;
  }
}
@media (min-width: 1024px) {
  .rest {
    line-height: 1.2;
  }
}
